<section class="hero">
    <h1><span class="text-bg">Heal the Hurt</span></h1>
</section>
<section>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <h3>Blessed was the first global movement for children, boldly declaring that people have rights.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <p class="imageP">
                <img src="../images/blessed.jpg" alt="blessed">
            </p>
        </div>
        <div class="col-md-6">
            <p class="program">
                Blessed have a conviction that people
                have the right to grow up healthy, educated and
                safe. And, through our work in the United States
                and around the world, we've changed the lives
                of over 1 billion people. We work in over 100
                countries, doing whatever it takes , every day
                and in times of crisis to give people a healthy
                start in life, the opportunity to learn and
                protection from harm. As the world's leading
                expert on helping people, we believe that every
                person deserves a future. This belief is at the
                heart of everything we do. We know you share
                it, too.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>
<section>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>We are the world’s leading expert on helping people.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            If you’re still wondering, why Blessed, there’s
            so much more to know about us:
            <ul>
                <li>We are global leaders in child health,
                    education and protection.
                </li>
                <li>We have a proven track record of using
                    efficiently and effectively to change
                    children's lives.
                </li>
                <li>
                    We’re transforming the way emergency care
                    is delivered, putting world-class health
                    professionals to work for children in crisis
                    anywhere in the world within 72 hours.
                </li>
                <li>
                    We work in the Unites States, helping more
                    get ready for education than any other
                    nonprofit and as the national leader in
                    protecting people in emergencies.
                </li>
            </ul>
        </div>
    </div>
</section>.
<section>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <h3>Your help for people in need is changing lives.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <p class="imageP">
                <img src="../images/blessed.jpg" alt="blessed">
            </p>
        </div>
        <div class="col-md-6">
            <p class="program">
                Blessed is working around the clock to ensure
                that the health and well-being of people are
                protected.<br>
                It is because of our commitment to people that
                Blessed ranks high among other nonprofit
                organizations. Charity watch groups give us top
                ratings for achieving incredible results – with
                proven efficiency, effectiveness and
                accountability.<br>
                Bottom line: Giving to Blessed is one of the
                world’s best investments. So go ahead, feel
                great about giving.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>