{{!--

If the user is logged in and they are an admin user, and 'GET /admin' endpoint is called, you will render this view
based on the specs.



--}}

<h1>Admin</h1>

<main>
    <h2>Welcome, {{userName}}, the time is now: {{currentTime}}. </h2>
       <br>
        <h3>You get super secret admin access since you are an admin. Remember, with great power comes great responsibility</h3>
<a href="/charities">Charities</a>
<a href="/protected">Protected</a>
<a href="/logout">Logout</a>
</main>
