<h1>Sponsors</h1>
<div class="error hidden" id="error-container">
    <div class="alert alert-danger text-goes-here"></div>
</div>
<form method="GET" action="/charities/age" id="age-search-form">

    <label for="ageInput">Enter Age to Search For: </label>
    <input type="number" id="ageInput" name="ageInput" />

    <button type="submit">Search</button>

</form>

<form method="GET" action="/charities/location" id="location-search-form">

    <label for="locationInput">Location: </label>
    <select id="locationInput" name="locationInput">
        <option value="america">America</option>
        <option value="europe">Europe</option>
        <option value="africa">Africa</option>
    </select>

    <button type="submit">Search</button>

</form>

<div id="ageErrors" class="error" hidden></div>
<div id="locationErrors" class="error" hidden></div>

    {{#each sponsors}}
    <article class="Sponsor">
      <h2>{{charityName}}</a></h2>
      <p>{{details}}</p>
      <form method="GET" action="/donate" id="sponsor-form">
        <button type="submit">Sponsor</button>
        </form>
      <img src={{picture}}></img>
{{/each}}
<script src="../public/js/main.js"></script>
