{{!--registration handelbars--}}

<h1>Register</h1>
<form action="/register" method="post" id="registration-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="firstNameInput">First Name:</label>
                <input type="text" name="firstNameInput" id="firstNameInput" class="txtBox"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="lastNameInput">Last Name:</label>
                <input type="text" name="lastNameInput" id="lastNameInput" class="txtBox"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="userNameInput">UserName:</label>
                <input type="text" name="userNameInput" id="userNameInput" class="txtBox"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="emailAddressInput">Email Address:</label>
                <input type="email" name="emailAddressInput" id="emailAddressInput" class="txtBox"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="passwordInput">Password:</label>
                <input type="password" name="passwordInput" id="passwordInput" class="txtBox"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="confirmPasswordInput">Confirm Password:</label>
                <input type="password" name="confirmPasswordInput" id="confirmPasswordInput" class="txtBox"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="roleInput">Role:</label>
                <select name="roleInput" id="roleInput">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group submit-btn">
                    <button type="submit">Register</button>
                </div>
            </div>
        </div>
    </div>
</form>
  <br>
  <a class="link" href="/login">Already have an account? Click here to log in</a>

<div id="registerErrors" class="error" hidden></div>

<script src="/public/js/main.js"></script>