<h2>{{message.message}}</h2>
<a href="/charities">Back to Charities page</a>
<a href="/logout">Logout</a>

<script src="/public/js/main.js"></script>
<link rel="stylesheet" href="/public/css/main.css">
